<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<!--Fontawesome icons for footer-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="/style/styles.css">
	<title>IBolit</title>
	<!--JQuery component-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
	<body style="background-color: GhostWhite
;">
		<!--<h1 th:text="'message from controller: '+ ${message}"></h1>-->
	<section style="margin-top: 10%;margin-bottom: 10%;">
			<section style="display: flex;justify-content: center; ">		
				<h1>Admin Options Available</h1>
			</section>
		<section style="margin-top: 20px; display:flex; flex-direction: row; justify-content: space-around;">
			<button class="btn btn-warning"><a href="/UserManage">User Options</a></button>
			<button class="btn btn-warning"><a href="/AppointmentManage.html">Appointment Option</a></button>
			<button class="btn btn-warning"><a href="/SpecialityManage.html">Speciality Option</a></button>
		</section>
	</section>
	<section>
	</section>

	</body>
</html>