<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<!--Fontawesome icons for footer-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />            
	<title>IBolit</title>
	<!--JQuery component-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
	<body>
	<section class="tableSection">
		<button class="btn btn-success"><a href="/LogicImplementationAppointment">Create A New Appointment</a></button>
		 <button  class="btn btn-info"><a href="/AdminProfile">Back To Admin Profile</a></button>
	<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Speciality</th>
      <th scope="col">Dates</th>
      <th scope="col">User Comment</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
		<tr th:each="appointment: ${displayAppointments}">
			<td th:text="${appointment.speciality}"></td>
			<td th:text="${appointment.dates}"></td>
			<td th:text="${appointment.comment_user}"></td>
			<td><a th:href="@{/AppointmentDelete/} + ${appointment.id_appointment}" class="link-dark" style="color: black;"><i class='fa-solid fa-trash'></i></a>
			<a th:href="@{/AppointmentUpdateForm/} + ${appointment.id_appointment}" class="link-dark" style="color: black;"><i class='fa-solid fa-pen-to-square'></i></a>
</td>
		</tr> 
    </tr>
   </section>

	</body>
</html>