<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<!--Fontawesome icons for footer-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="/style.css">
	<title>IBolit</title>
	<!--JQuery component-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
	<body>	
	<section>
			<section  style="margin-bottom:0%; display:flex; justify-content: center;">	
				<h2>Does User Already Exists In The System</h2>
				<img src="https://img.icons8.com/dusk/256/questions.png">
			</section>
		<section id="AdminProfileStyle" style="margin-top: 5%;">
			<button class="btn btn-success"><a href="/AppointmentCreateForm">Yes ( You should know his ID )</a></button>
			<button class="btn btn-warning"><a href="/userCreateForm">No ( You should create an user )</a></button>
		</section>
	</section>
	</body>
</html>